/* Full page container */
.login-container {
  height: 100vh;
  display: flex;
  background: #f5f5f5;
  justify-content: center;
  align-items: center;
}

/* Card form */
.login-form {
  width: 350px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

/* Title */
.login-title {
  text-align: center;
  margin-bottom: 20px;
}

.input-label {
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #333;
  display: block;     /* ensures label appears above input */
}

.login-input:focus {
  border-color: #4A55A2;
  box-shadow: 0 0 4px rgba(74, 85, 162, 0.4);
}


/* Input fields */
.login-input {
  margin: 10px 0;
  padding: 12px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: none;
  transition: 0.3s;
}

/* Button */
.login-button {
  margin-top: 15px;
  padding: 12px;
  background: #4A55A2;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.login-button:hover {
  background: #313c85;
}

.login-image-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.user_login_img{
    width: 25%;
    height: 25%;
}

.signup-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.signup-btn {
  background: none;
  border: none;
  color: #4A55A2;
  font-weight: 600;
  cursor: pointer;
  margin-left: 5px;
}

.signup-btn:hover {
  text-decoration: underline;
}



